--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
hydra-core==1.3.2
omegaconf==2.3.0
ipython==9.4.0
wandb==0.21.1
tqdm==4.67.1
pytorch-lightning==2.5.3
einops==0.8.1
ipdb==0.13.13
scipy==1.13.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
matplotlib==3.10.6
https://github.com/state-spaces/mamba/releases/download/v2.2.5/mamba_ssm-2.2.5+cu12torch2.6cxx11abiTRUE-cp312-cp312-linux_x86_64.whl # mamba-ssm
https://github.com/Dao-AILab/causal-conv1d/releases/download/v1.5.2/causal_conv1d-1.5.2+cu12torch2.6cxx11abiTRUE-cp312-cp312-linux_x86_64.whl # causal-conv1d